*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}
.transparent_nav{
    background-color:rgba(168, 235, 214, 0.7);;
   
}
.nav_bar{
    display: grid;
    grid-template-columns: 60% 40%; 
    
}

#nav_list{
   padding: 20px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
   list-style-type:none;
   }
a{
    text-decoration: none;
}
.bilboardimage{
    width: 100%;
    height: 600px;
}
.cta{
    height: 70px;
    display: grid;
    grid-template-columns: 60% 40%;
}
#cta_text{
    padding: 10px;
}
#cta_link{
    padding: 20px;
    
}
#cta_link:hover{
    background-color: rgb(45, 122, 153);
    display: inline-block;
}

.services wrapper{
   
   
}
h2{
    text-align: center;
}
#services_list{
    padding: 70px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 50px;
    list-style-type:none;
}
.column {
    float: left;
    width: 20%;
    position: relative;
  }

  #testimonials_list{
      padding: 70px;
      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-column-gap: 30px;
      align-content: center;
      list-style-type:none;
      
   }
   #testimonials_list img{
    border-radius: 50%
   }   
  .footer_widget{
      padding: 70px;
      display: grid;
      grid-template-columns: 20% 20% 20% 20%;
      grid-auto-rows: minmax(100px,auto);
      background-color: black;
      color: white;
      
  }
  #comp_list a{
   
   color: white;
   text-decoration: none;
   list-style-type:none;
  }
  #comp_list{
    list-style-type:none;
  }
  #sup_list a{
   
    color: white;
    text-decoration: none;
    list-style-type:none;
  }
  #sup_list{
    list-style-type:none;
  }
